.user-login-page {
    background: url(../assets/img/photos/meteorshower2.jpg) #394557;
    background-size: cover;
    height: 100vh;
    .custom-box {
        background-color: white;
        padding: 0 40px;
    }
}
