/************************COLOR**************************************/
$late-color: bisque;
$blue-background-color: #5c90d2;
$blue-border-color: #3675c5;
$white-text-color: white;
$lightgrey-color: lightgrey;

/************************FONT***************************************/
$normal-title: 18px;
$normal-text: 14px;